[Unit]
Description=Daily dsh auto-update check for rdsh

[Timer]
OnCalendar=daily
RandomizedDelaySec=1800
Persistent=true

[Install]
WantedBy=timers.target
